### 변수이름 설정을 잘못하면 오류난다.

In [1]:
def = 5
print(def)

SyntaxError: invalid syntax (556240040.py, line 3)

### 하나의 변수에 값 할당

In [3]:
stock_price=85000
stock_price

85000

### 동시에 여러 변수에 값 할당

In [7]:
ss, lg, sk = 80000, 140000, 200000
print("ss: %d" %ss)

ss: 80000

### 숫자형과 문자형의 기본사용

In [9]:
# 숫자형과 문자형의 기본 사용

amount = 100000
amount

100000

In [10]:
quantity = 15
price = amount/quantity
price

6666.666666666667

In [13]:
stock_price = "85000"
print(stock_price)

85000

### '' 과 "" 를 사용하여 여러 줄에 걸친 문자열을 정희할 수 있다.

In [15]:
string1 = "사느냐, 죽느냐? 그것이 문제로다.\n"
string2 = '어떤 것이 더 고귀한 것일까?\n'
string3 = """Im honored to be with you today 
at your commencement 
from one of the finest universities in the world.\n"""
string4 ='''I never graduated from college. Today I want to tell you three stories from my life. That's it. No big deal. Just three stories.'''

print(string1, string2, string3, string4)

사느냐, 죽느냐? 그것이 문제로다.
 어떤 것이 더 고귀한 것일까?
 Im honored to be with you today
at your commencement
from one of the finest universities in the world.
 I never graduated from college. Today I want to tell you three stories from my life. That's it. No big deal. Just three stories.

### 데이터형의 확인

In [16]:
stock_price = 85000
apple_stock_price = 128.5
print(stock_price, type(stock_price))
print(apple_stock_price, type(apple_stock_price))

85000 <class 'int'>
128.5 <class 'float'>

## 4. 숫자형 연산

In [17]:
stock_price = 85000
quantity = 10
amount = stock_price * quantity
fee_rate = 0.01
total_fee = amount * fee_rate
print(amount, type(amount))
print(total_fee, type(total_fee))

850000 <class 'int'>
8500.0 <class 'float'>

In [18]:
a = 1
b = 2
c, d ,e = 3, 4, 5
print(a+b, a-b, a&b, a/b)
print(c**b, b**0.5)
print(e/b, e//b, e%b)

3 -1 0 0.5
9 1.4142135623730951
2.5 2 1

## 5. 숫자형 포매팅

In [19]:
c, d = 3, 4
e = c + d
# {0:d}는 문자열 포맷 코드입니다. 여기서 0은 인덱스를 나타내며, d는 정수 형식으로 출력하라는 의미입니다. 즉, 이 부분은 첫 번째 인자를 정수로 출력하라는 의미입니다.
print("c+d의 값은 : e=c+d={0:d}".format(e))

c+d의 값은 : e=c+d=7

In [20]:
a = 1
b = 2
c, d, e = 3, 4, 5
# {0}, {1}, {2}, {3}" 부분은 출력할 문자열을 정의
print("사칙연산 결과는 : {0}, {1}, {2}, {3}".format(a+b, a-b, a*b, a/b))
# {0:d}는 정수 형식으로 출력하라는 의미이고, {1:.2f}는 소수점 아래 둘째자리까지 표시
print("c의 e 제곱과 b의 제곱근 결과는 : {0:d}, {1:.2f}".format(c**e, b**0.5))

사칙연산 결과는 : 3, -1, 2, 0.5
c의 e 제곱과 b의 제곱근 결과는 : 243, 1.41

## 6. 문자열 연산

### 문자열 연결

In [21]:
company_name = "Samsung"
price = "85,000"
stock_price = company_name + " " + price + " " ## 문자열 연결하기
print("*"*50) # * 문자를 50번 출력하기
print(stock_price * 3) # stock_price 문자열을 3번 출력하기

**************************************************
Samsung 85,000 Samsung 85,000 Samsung 85,000

### 문자열 인덱싱

In [22]:
variable = 'Hello Python'
print(variable)
print(variable[0], variable[-1], variable[1])

Hello Python
H n e

### 문자열 슬라이싱

In [25]:
single_string = 'To be, or not to be, that is the question'
print(len(single_string), single_string[0], single_string[:3], single_string[35:-1])

41 T To  estio

## 7. 문자열 포매팅

### 서식 문자를 이용한 포매팅

In [26]:
qunatity = 5
"I have %d stocks." % quantity

'I have 10 stocks.'

In [28]:
company_name = "Samsung"
"I have %s stocks." %company_name

'I have Samsung stocks.'

In [29]:
company_name = "Samsung"
qunatity = 5
"I have %d %s stocks." %(quantity, company_name)

'I have 10 Samsung stocks.'

### format 함수를 이용한 포매팅

In [30]:
company_name = "Samsung"
price = "85,000"
stock_price = "{0} {1}".format(company_name, price)
stock_price

'Samsung 85,000'

In [31]:
company_name = "Samsung"
price = "85,000"
stock_price = "{0} {price}".format(company_name, price = 50000)
stock_price

'Samsung 50000'

### f 문자열 포매팅

In [32]:
company_name = "Samsung"
price = "85,000"
stock_price = f"{company_name} {price}"
stock_price

'Samsung 85,000'

In [35]:
company_name = "Samsung"
price = "85,000"
new_price = "100,000"
stock_price = f"""{company_name}
{price}
{new_price}"""
print(stock_price)

stock_price

Samsung
85,000
100,000

'Samsung\n85,000\n100,000'

## 8. 문자열 내장 함수

### 문자 개수 세기: count 함수

In [40]:
single_string = "To be, or not to be, that is the question"
single_string.count("t")

6

### 문자 위치 찾기: find 함수

In [37]:
single_string = "To be, or not to be, that is the question"
single_string.find('t')

12

### 첫 글자만 대문자로 바꾸기: capitalize 함수

In [43]:
single_string = "to be, or not to be, that is the question"
text = single_string
text.capitalize()

'To be, or not to be, that is the question'

### 모든 문자를 대문자/소문자로 바꾸기: upper 함수, lower 함수

In [44]:
single_string = "To be, or not to be, that is the oquestion"
text = single_string
text.upper() # text 변수값을 대문자로 출력한다.

'TO BE, OR NOT TO BE, THAT IS THE OQUESTION'

### 특정 문자 바꾸기: replace 함수

In [45]:
single_string = "Te be, or not to be, that is the question"
text = single_string
text.replace("question", "QUESTION")

'Te be, or not to be, that is the QUESTION'

### 단어 단위로 쪼개기: split 함수

In [46]:
single_string = "To be, or not to be, that is the question"
text = single_string
text.split()

['To', 'be,', 'or', 'not', 'to', 'be,', 'that', 'is', 'the', 'question']

### 문자열의 시작과 끝에서 주어진 문자 삭제하기: strip 함수

In [47]:
'http://www.Python.org'.strip('http://')

'www.Python.org'

In [58]:
' Welcom to Hanbit.co.kr'.strip()

'Welcom to Hanbit.co.kr'

## 연습문제

In [59]:
varibale = 'Hello Python'
print(variable[0], variable[-1], variable[1])

H n e

In [60]:
company_name = "Samsung"
"I have %s stocks." %company_name

'I have Samsung stocks.'

In [61]:
single_string = "To be, or not to be, that is the question"
text = single_string
text.replace("question", "QUESTION")

'To be, or not to be, that is the QUESTION'